<ion-header>
  <ion-toolbar>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor = "let item of listperso" [routerLink] = "'/description-personajes/' + item.id" class="background">
    <ion-thumbnail slot = "start">
      <img [src] = "item.image" alt="">
    </ion-thumbnail>
    <div>
      <h3>{{item.name}} </h3>
    </div>
    <ion-badge color = "dark" slot = "end">
      ID: {{item.id}}
    </ion-badge>
  </ion-item>
</ion-content>

<ion-footer>
<ion-toolbar class="ion-text-center">
  <ion-buttons slot = "start" *ngIf = "pagina > 1">
    <ion-button (click) = "buscarpersonajes(pagina - 1)">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  Página: {{pagina}}

  <ion-buttons slot = "end" *ngIf = "pagina < 34">
    <ion-button (click) = "buscarpersonajes(pagina + 1)">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>