h3 {
    margin: 0;
    font-weight: bold;
}

ion-thumbnail{
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

ion-item.background{
    --background: #D2D4D5;
}