<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="personajes">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="episodios">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Episodios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lugares">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Lugares</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
