h3 {
    margin: 0;
    font-weight: bold;
}

ion-thumbnail{
    width: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

ion-content.background{
    --background: url(../../../assets/images/img5.jpg) 0 0/100% 100% no-repeat;
}